<div class="container">
  <div class="row">
       <div class="col-lg-6 d-flex justify-content-between">
       <%= render 'category', categories: @categories %> 
       </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
        <div>
         <%= attachment_image_tag @product, :image, fallback: "kanban_jyunbi.png", size:'300x300' %>
        </div>
        <div>
         <h5><%= @product.name %></h5>
         <p><%= @product.detail %></p>
         <h6>¥<%= (@product.price*1.1).round.to_s(:delimited) %></h6>
        </div>
        
        <% if @product.product_status == true %>
        <div>
            <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.select :quantity, (1..10).to_a, prompt: "個数を選択してください" %>
            <%= f.submit 'カートに入れる',  class: "btn btn-success btn-sm" %>
            <% end %>
        </div>
        <% else %>
        <div>
          <h3 class="text-danger">＊売切れ＊</h3>
          <p>大変申し訳ございません。<br>準備が整うまで、もうしばらくお待ちくださいませ。</p>
        </div>
        <% end %>
        
    </div>
  </div>
 </div>
