<div class="container">
  <div class="row my-5">
    
    <div class="col-lg-5 text-center">
      <%= attachment_image_tag @product, :image, fallback: "kanban_jyunbi.png", size:'300x300' %>
    </div>
        
    <div class="col-lg-7">        
      <div>
        <h3 class="font-weight-bold mb-3"><%= @product.name %></h3>
        <p class="mb-5"><%= @product.detail %></p>
        <div class="d-flex my-3 text-align-center">
        <h4>¥<%= (@product.price.to_i*1.1).round.to_s(:delimited) %></h4>
        <span>(税込)</span>
        </div>
      </div>
        
      <% if @product.product_status == true %>
        <div>
          <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.select :quantity, (1..10).to_a, prompt: "個数を選択してください" %>
          <%= f.submit 'カートに入れる',  class: "btn btn-success btn-sm px-4 py-2 ml-5" %>
          <% end %>
        </div>
      <% else %>
        <div>
          <h3 class="text-danger">＊売切れ＊</h3>
          <p>大変申し訳ございません。<br>準備が整うまで、もうしばらくお待ちくださいませ。</p>
        </div>
        <% end %>
        
    </div>
  </div>
 </div>
