<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>商品詳細</h3>
       <p class="text-success"><%= notice %></p>
       
      <div>
        <%= attachment_image_tag @product, :image, :fill, 300, 300, fallback: "kanban_jyunbi.png", size:'300x300' %>
      </div>
      
      <div>
        <table>
        <tr>
          <td>商品名</td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @product.detail %></td>
        </tr>
          <tr>
          <td>ジャンル</td>
          <td><%= @product.category.name %></td>
        </tr>
        
        <tr>
          <td>税抜価格<br>(税込価格)</td>
          <td>
             <%= @product.price %>円<br>
            (<%= (@product.price.to_i*1.1).round %>円)
          </td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <% if @product.product_status == true %>
          <td><i class="far fa-circle"></i> 販売中</td>
          <% elsif @product.product_status == false %>
          <td><i class="fas fa-times"></i> 販売停止中</td>
          <% end %>
          </tr>
      </table>
      <%= link_to '編集する',  edit_admins_product_path(@product), class: "btn btn-success btn-lg" %>
    </div>
        
        
    </div>
  </div>
 </div>