<div class="container">
  
  <div class="row mt-4">
    <h4 class="bg-light px-3 ml-5">商品詳細</h4>
    <p class="text-success"><%= notice %></p> 
  </div>
  
      
       
  <div class="row my-5">   
    <div class="col-lg-5 text-center"> 
      <div>
        <%= attachment_image_tag @product, :image, fallback: "kanban_jyunbi.png", size:'300x300' %>
      </div>
    </div>
      
      <div class="col-lg-7">
        <table>
        <tr>
          <td class="py-2 pr-3">商品名</td>
          <td class="h5"><%= @product.name %></td>
        </tr>
        <tr>
          <td class="py-2 pr-3">商品説明</td>
          <td class="h5"><%= @product.detail %></td>
        </tr>
        <tr>
          <td class="py-2 pr-3">ジャンル</td>
          <td class="h5"><%= @product.category.name %></td>
        </tr>
        
        <tr>
          <td class="py-2 pr-3">税込価格<br>(税抜価格)</td>
          <td class="h5">
            <%= (@product.price.to_i*1.1).round.to_s(:delimited) %>
            (<%= @product.price %>)円
          </td>
        </tr>
        <tr>
          <td class="py-2 pr-3">販売ステータス</td>
          <td class="h5">
          <% if @product.product_status == true %>
          <span class="text-success"><i class="far fa-circle"></i> 販売中</span>
          <% elsif @product.product_status == false %>
          <span><i class="fas fa-times"></i> 販売停止中</span>
          <% end %>
          </td>
        </tr>
      </table>
      
      <div class="my-4">
      <%= link_to '編集する',  edit_admins_product_path(@product), class: "btn btn-success btn-sm px-4 py-2" %>
      </div>
    </div>
   </div> 
  </div>
 </div>