<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <h2 class="title">注文履歴一覧</h2>
      <table class="table table-striped">
        <thead>
          <tr class="order-info">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to admins_order_path(order.id) %>
              <%= order.created_at %>
            </td>
            <td>
              <%= order.customer.name %>
            </td>
            <td>
              <%= order.order_details.count %>
            </td>
            <td>
              <%= order.order_status %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>