<div class="container">
  <div class="row">
  　<h4 class="col-md-3 bg-light text-center">注文履歴詳細</h4>
  </div>

  <div class="row">
    <table class="col-md-8">
      <tr>
        <th class="col-xs-5"><h5>購入者</h5></th>
          <td class="text-left">
        　<%= link_to admins_customer_path(@order.id) do %>
        　<%= @order.name %>
        　<% end %>
        　</td>
    　</tr>

      <tr>
        <th class="col-xs-5"><h5>注文日</h5></th>
          <td class="text-left">
           <%= @order.created_at %>
          </td>
      </tr>

      <tr>
        <th class="col-xs-5"><h5>配送先</h5></th>
          <td class="text-left">
        　　〒<%= @order.postal_code %>  <%= @order.address %><br>
        　　<%= @order.name%>
        　</td>
    　</tr>

      <tr>
        <th class="col-xs-5"><h5>支払方法</h5></th>
          <td class="text-left">
            <%= @order.pay_type %>
        　</td>
    　</tr>

    <%= form_with model:@order do |f| %>
      <tr>
        <th class="col-xs-5"><h5>注文ステータス</h5></th>
          <td class="text-left">
            <%= f.select :order_status, Order.order_statuses.keys, class: "order_status-select" %>
          </td>
          <td class="text-left">
             <%= f.submit "更新", class:"btn btn-success" %>
          </td>
      </tr>
    <% end %>
  </table>
</div>

  <div class="row">
    <div class="col-8 mx-auto">
      <table class="table table-striped text-left">
        <thead>
          <tr class="order-info">
            <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.product.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= (order_detail.price * order_detail.quantity).floor.to_s(:delimited) %></td>
            <td><%= form_with model:@order_details, url:admins_order_details_path(order_detail) do |f| %>
                <%= f.select :production_status, OrderDetail.production_statuses.keys, class: "order_detail_status-select" %></td>
            <td><%= f.submit "更新", class:"btn btn-success" %></td>
                <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <div class="col-4 mx-auto">
      <table>
        <tr>
          <th class="text-left">商品合計</th>
            <td><%= @order.total_price.to_s(:delimited) %></td>
          <th class="text-left">送料</th>
            <td><%= @order.delivery_charge %></td>
          <th class="text-left">請求金額合計</th>
            <td><%= (@order.delivery_charge.to_s+@order.total_price.to_s(:delimited)) %></td>
        </tr>
      </table>
    </div>
  </div>






