<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <div class="container">
        <%= link_to image_tag("logo.png"), "/" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li><%= link_to " About ", about_path, class: 'btn btn-default' %></li>
            <li><%= link_to " 商品一覧 ", about_path, class: 'btn btn-default' %></li>
            <li><%= link_to " 新規登録 ", new_customer_registration_path, class: 'btn btn-default' %></li>
            <li><%= link_to " ログイン ", new_customer_session_path, class: 'btn btn-default' %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <p class="text-center bg-light py-5 mt-5">© All rights reserved by ice-lovers.</p>
    </footer>

  </body>
</html>
